Repository Daemon-Technologies/docs, pull requests merged in 2020-12, with the labels that each got.

#16 Update Mining-Bot-Alpha-Tutorial-EN.md
  Mining-Bot-Alpha-Version/Build-Before-Using/Mining-Bot-Alpha-Tutorial-EN.md
Labels: Alpha, documentation

#23 FAQ
  Mining-Bot-Alpha-Version/Build-Before-Using/README.md
  Mining-Bot-Alpha-Version/FAQ/FAQ-CN.md
  Mining-Bot-Alpha-Version/FAQ/FAQ.md
  Mining-Bot-Alpha-Version/FAQ/README.md
  Mining-Bot-Alpha-Version/README.md
  Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/README.md
Labels: Alpha, enhancement

#32 Mining bot alpha V1.0.0 youtube link
  Mining-Bot-Alpha-Version/Build-Before-Using/Mining-Bot-Alpha-Tutorial-CN.md
  Mining-Bot-Alpha-Version/Build-Before-Using/Mining-Bot-Alpha-Tutorial-EN.md
  Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot-CN.md
  Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot.md
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/Mining-Bot-Alpha-Tutorial-CN.md
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/Mining-Bot-Alpha-Tutorial-EN.md
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/README.md
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/assets/Homepage-CN.png
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/assets/Homepage.png
  _draft/Mining-Bot-Alpha-Version/Build-Before-Using/assets/wsl_mining_ip.png
  _draft/Mining-Bot-Alpha-Version/FAQ/FAQ-CN.md
  _draft/Mining-Bot-Alpha-Version/FAQ/FAQ.md
  _draft/Mining-Bot-Alpha-Version/FAQ/README.md
  _draft/Mining-Bot-Alpha-Version/README.md
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/README.md
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot-CN.md
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot.md
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/balanceNotification.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/clientPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/minerInfo.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/startMining1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/startMining2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/startMining3.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/client/stopMining.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/index/indexPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/index/lockPage1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/index/lockPage2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/index/lockPassword.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/index/mainPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/publicdata/opendataModule.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/wallet/importAddress1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/wallet/importAddress2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/CN/wallet/importAddress3.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/balanceNotification.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/clientPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/minerInfo.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/startMining1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/startMining2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/startMining3.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/client/stopMining.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/index/indexPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/index/lockPage1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/index/lockPage2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/index/lockPassword.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/index/mainPage.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/publicdata/publicdataModule.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/wallet/importAddress1.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/wallet/importAddress2.png
  _draft/Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/assets/EN/wallet/importAddress3.png
Labels: Alpha, documentation

#33 docs Readme about Install& Build
  Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot.md
  README.md
Labels: Alpha, bug, documentation

#34 docs Readme about Install& Build merged to master
  Mining-Bot-Alpha-Version/Use-Mining-Bot-For-Mining/User's-Guide-of-Mining-Bot.md
  README.md
Labels: Alpha, documentation, enhancement

#35 nvm file supported
  Mining-Bot-Alpha-Version/nvm-file/README.md
  Mining-Bot-Alpha-Version/nvm-file/install.sh
Labels: Alpha, bug

#36 [master merge] nvm file download support
  Mining-Bot-Alpha-Version/nvm-file/README.md
  Mining-Bot-Alpha-Version/nvm-file/install.sh
Labels: Alpha, bug, documentation
